.video-container {
  width: 100%;
   /* Adjust the height as needed */

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  cursor: pointer;
}

.custom-video {
  position: relative;
  width: 100%;
  height: 100%;
}

.custom-video-element {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.custom-controls {
  position: absolute;
  bottom: 20px;
  left: 0; /* Adjust the horizontal positioning */
  right: 0;
  margin: 0 auto; /* Center horizontally */
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between; /* Distribute controls evenly */
  align-items: center;
}

.custom-controls button {
  color: #fff;
  background-color: transparent;
  border: none;
  cursor: pointer;
  
}

.volume-controls {
  display: flex;
  align-items: center;
  
}

.volume-controls input[type="range"] {
  width:50px;
  margin-left: 10px;
}
.time-display {
  color: #fff;
  font-size: 14px;
  margin: 0 10px;
  margin-right: 90px;
}



@media screen and (max-width : 760px) {
  .time-display{
    margin-left: 90px;
    font-size: 11px;
    margin: 0 9px;
    
  }

  .volume-controls input[type="range"] {
    width:50px;
    
  }
  .vcx{
    margin-left: -40px;
  }
}
