.home-container-1 {
    display: flex;
  }
  
  .home-container-2 {
    flex: 1;
    padding: 20px;
  }
  

  .room-page video {
    width: 100%;
    height: auto;
    max-height: 100%; /* Ensure the video doesn't exceed the screen */
    object-fit: contain; /* Maintain video aspect ratio */
    background-color: black; /* Fallback background color for letterboxing */
  }
  .room-page {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    
    justify-content: center;
    align-items: center;
     /* Set your preferred background color */
    z-index: 9999; /* Ensure it's on top of other content */
    /* Prevent scrolling within the room page */
    padding: 0; /* Remove padding to maximize space */
    margin: 0; /* Remove margin to maximize space */
  }
  
  .room-page h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  /* Adjust these styles according to your needs */
  .room-page video {
    width: 100%;
    max-width: 800px;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Style for LeftSideBar component */

  
  /* Additional styles for responsiveness */
 /* For screens smaller than 768px */
@media (max-width: 767px) {
    .room-page {
      padding: 10px;
    }

    .room-page {
        max-height: 100vh;
        white-space: nowrap;
        overflow-x: scroll;
        display: flex;
        flex-direction: row;
       /* Adjust the maximum height for smaller screens */
      }
    }
    
  
    .room-page h1 {
      font-size: 20px;
    }
  
  
  /* For screens smaller than 576px */
  @media (max-width: 575px) {
    .room-page h1 {
      font-size: 18px;
    }
  }
  